.contact-page {
	width: 100%;
	height: 100vh;
	align-content: center;
	animation: slideUp 1s ease-out;
	color: grey;
	background: radial-gradient(circle at center,
  rgba(220, 220, 220, 1) 0%,
  rgba(240, 240, 240, 0.7) 60%,
  rgba(255, 255, 255, 1) 100%);
animation: slideUp 1s ease-out;

}
.contact-form {
	align-content: center;
	padding-top: 8%;
	padding-left: 30%;
	padding-right: 30%;
	width: auto;
	color: grey;
}
.contactTitle {
	font-size: 2em;
	margin-bottom: 50px;
	margin-top: 50px;
	text-align: center;
	color: grey;
}


.contact-icons {
	display: flex;
	gap: 2rem;
	justify-content: center;
	margin-top: 2rem;
	animation: slideUp 1s ease-out;
  white-space: nowrap;
}

.contact-icon {
	width: 2.5rem;
	height: 2.5rem;
	transition: transform 0.3s ease;
	font-size: 4rem;
	color: grey;
}

.contact-icon:hover {
	transform: scale(1.1);
}

@keyframes slideUp {
	0% {
		opacity: 0;
		transform: translateY(100px);
	}
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

@media only screen and (max-width: 375px) {
	.contact-page {
		width: 100%;
		height: 95vh;
		align-content: center;
		background: radial-gradient(circle at center,
			rgba(99, 102, 241, 1) 0%,
			rgba(99, 102, 241, 0.8) 40%, 
			rgba(99, 102, 241, 0.3) 85%,
			rgba(255, 255, 255, 1) 100%);
	}
	.contact-form {
		align-content: center;
		padding-top: 50px;
		padding-left: 3%;
		padding-right: 3%;
		width: auto;
	}

	.contactTitle {
		font-size: 1.5em;
		margin-bottom: 50px;
		margin-top: 50px;
		text-align: center;
	}
}
