.todo_header {
	text-align: center;
	border-radius: 5px;
	padding-top: 100px;
}

.todo_header input {
	width: 340px;
	height: 30px;
	border: 0;
	border-bottom: 2px solid #013a63;
	background-color: #e5e5e5;
	margin-bottom: 20px;
	outline: medium;
}

#newTodo::-moz-placeholder {
	color: #013a63;
}

.todo_header h2 {
	color: #013a63;
	font-size: 2rem;
}

@media screen and (max-width: 375px) {
	.todo_header h2 {
		font-size: 1.5rem;
	}
}
