.card {
	width: auto;
	padding: 3%;
	background-color: #bbdefb;
}

.page-item {
	width: 100% !important;
}

.card-content {
	font-size: 1.2em;
}

.projectImg {
	height: 300px !important;
	width: 400px !important;
}
