.card-content {
	font-size: 1.2rem;
}

.projectImg {
	height: 350px !important;
	width: 100% !important;
}

.projectImg:hover {
	transform: scale(1.002);
	opacity: 1;
}

@keyframes slideUp {
	0% {
		opacity: 0;
		transform: translateY(100px);
	}
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

@media only screen and (max-width: 375px) {
	.card-content {
		font-size: 0.9rem;
	}

	.projectImg {
		height: 180px !important;
		width: 100% !important;
	}
	.column {
		width: 375px !important;
		margin-left: 22px;
	}
}
