.map-container {
	height: 63vh;
}

.travel-page {
	height: 32vh !important;
	background-color: #edf2f4 !important;
	text-align: center;
}

.travel-page h2 {
	font-size: 2em;
	padding-top: 30px;
	padding-bottom: 20px;
}

.travel-page p {
	font-size: 1.5em;
}

.mapboxgl-popup {
	max-width: 350px;
	font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

@media only screen and (max-width: 375px) {
	.map-container {
		height: 55vh;
	}

	.travel-page {
		height: 40vh !important;
		background-color: #d7e3fc !important;
		text-align: center;
	}

	.travel-page h2 {
		font-size: 1.5em;
		padding-top: 30px;
		padding-bottom: 20px;
	}

	.travel-page p {
		font-size: 1.2em;
	}
	.mapboxgl-popup {
		max-width: 250px;
		font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
	}
}
