.home-page {
	width: 100%;
	min-height: 100vh;
	height: 110vh; 
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	justify-content: center;
	padding: 4rem 20px; 
	margin: 0;
	box-sizing: border-box;
	color: white;
	background: radial-gradient(circle at center,
		rgba(107, 33, 168, 1) 0%,    /* Darker purple center */
		rgba(157, 78, 221, 0.8) 30%, /* Your existing purple with transparency */
		rgba(157, 78, 221, 0.3) 60%, /* More transparent */
		rgba(255, 255, 255, 1) 100%); /* White background */
}

.my-name {
	display: flex;
	color: #fff;
	font-size: 2.5em;
	font-weight: 600;
	text-transform: uppercase;
	text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
	justify-content: center;
	animation: slideUp 1s ease-out;
}

.my-position {
	color: #fff;
	font-size: 2em;
	text-transform: uppercase;
	margin-top: 30px;
	text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
	animation: slideUp 1s ease-out;
}

.homeSpan {
	padding: 0 20px;
	color:white;
	animation: bulge 2.2s infinite;
}

.home-icon {
	font-size: 2.5em;
	color: white;
}



.self-image {
	width: 360px;
	height: 260px;
	border-radius: 50% ;
	transition: all 0.3s ease;
	opacity: 0.8;
	margin-bottom: 50px;
}

.self-image:hover {
	transform: scale(1.05);
	opacity: 0.6;
}

@keyframes bulge {
	50% {
		transform: translateY(-30px);
	}
}

.home-content {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 2rem;
	max-width: 1000px;
	margin: 0 auto;
	width: 100%;
}

/* Tablet Responsive Styling */
@media (max-width: 768px) {
    .home-page {
        padding: 2rem;
        padding-top: 6rem;
    }
    
    .home-presentation {
        flex-direction: column;
        align-items: center;
        gap: 2rem;
    }
    
    .self-image {
        width: 220px;
        height: 220px;
    }
    
    .my-name {
        font-size: 2.5rem;
    }
    
    .my-position {
        font-size: 1.8rem;
    }
    
    .homeSpan {
        font-size: 2.5rem;
    }
}

/* Mobile Responsive Styling */
@media (max-width: 376px) {
    .home-page {
        padding: 1rem;
        padding-top: 5rem;
    }
    
    .self-image {
        width: 180px;
        height: 180px;
    }
    
    .my-name {
        font-size: 1.2rem;
    }
    
    .my-position {
        font-size: 1.5rem;
        line-height: 1.5;
    }
    
    .homeSpan {
        font-size: 1.5rem;
				padding: 0 10px;
    }
	
	.home-description {
			font-size: 1rem;
			line-height: 1.5;
	}
	
	.profile-image {
			width: 90%;
			max-width: 250px;
	}
}