.home-page {
	width: 100%;
	min-height: 100vh;
	display: flex;
	align-items: center;
	text-align: center;
	justify-content: center;
	padding: 0 20px;
	box-sizing: border-box;
	color: white;
	background: radial-gradient(circle at center,
		rgba(107, 33, 168, 1) 0%,    /* Darker purple center */
		rgba(157, 78, 221, 0.8) 30%, /* Your existing purple with transparency */
		rgba(157, 78, 221, 0.3) 60%, /* More transparent */
		rgba(255, 255, 255, 1) 100%); /* White background */
		animation: slideUp 1s ease-out;
}

.my-name {
	display: flex;
	color: #fff;
	font-size: 2.5em;
	font-weight: 600;
	text-transform: uppercase;
	text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.my-position {
	color: #fff;
	font-size: 2em;
	text-transform: uppercase;
	margin-top: 30px;
	text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.home-contact {
	margin-top: 30px;
}

.homeSpan {
	padding: 0 20px;
	color:white;
	animation: bulge 2.2s infinite;
}

.home-icon {
	font-size: 2.5em;
	color: white;
}

@keyframes bulge {
	50% {
		transform: translateY(-30px);
	}
}

.home-content {
	max-width: 1200px;
	margin: 0 auto;
	width: 100%;
}

@media only screen and (max-width: 400px) {
	.home-page {
		min-height: 100vh;
		display: flex;
		align-items: center;
		text-align: center;
		justify-content: center;
		background: radial-gradient(circle at center,
			rgba(107, 33, 168, 1) 0%,
			rgba(157, 78, 221, 0.8) 40%,
			rgba(157, 78, 221, 0.3) 70%,
			rgba(255, 255, 255, 1) 100%);
	}

	.my-name {
		display: flex;
		color: white;
		font-size: 1em;
		font-weight: 500;
		text-transform: uppercase;
	}

	.my-position {
		font-size: 0.8em;
		text-align: center;
		text-transform: uppercase;
		margin-top: 20px;
	}
	.homeSpan {
		padding: 0 10px;
		animation: simpleBulge 3s infinite;
		box-shadow: none;
	}

	.my-name, .my-position {
		color: #fff;
		text-shadow: none;
	}

	@keyframes simpleBulge {
		50% {
			transform: translateY(-30px);
		}
	}
}
