body {
	background-color: #e5e5e5;
}

.todo_page {
	height: 95vh;

	display: fixed;
	align-items: center;
	justify-content: center;
	margin: auto;
	width: 450px;
	border-radius: 5px;
}

.todo_btn {
	color: #013a63;
	display: inline-block;
	text-align: center;
	font-size: 15px;
	border-radius: 5px;
	border: 1px solid #013a63;
	background-color: #e5e5e5;
}

.todo_btn:hover {
	background-color: #e5e5e5;
	color: #f94144;
	border: 1px solid #f94144;
}

@media screen and (max-width: 375px) {
	.todo_page {
		height: 96vh;
	
		display: fixed;
		align-items: center;
		justify-content: center;
		margin: auto;
		width: 350px;
		border-radius: 5px;
	}
}
