.todo_list {
	margin-bottom: 30px;
}

.todo_item {
	list-style: none;
	height: 45px;
	padding-top: 4px;
	word-wrap: break-word;
	word-break: break-all;
	overflow: hidden;
}

li .todo_btn {
	float: right;
	width: 60px;
}

.todo_name {
	color: #013a63;
	font-size: 1.25rem;
	margin-left: 2px;
}

@media screen and (max-width: 375px) {
	.todo_name {
		color: #013a63;
		font-size: 1rem;
		margin-left: 2px;
	}
}
