.page-portfolio {
	align-items: center;
	justify-content: center;
	background-color: #1a535c;
	height: 100vh;
}

@media only screen and (max-width: 375px) {
	.page-portfolio {
		align-items: center;
		justify-content: center;
		background-color: #1a535c;
	}
}
