.page-portfolio {
	height: 96vh;
	min-height: 100%;
	align-items: center;
	background-color: #edf2f4;
}
.myColumns {
	padding-top: 200px;
}

@media only screen and (max-width: 375px) {
	.page-portfolio {
		height: auto;
		width: 375px !important;
		background-color: #1a535c;
	}
	.myColumns {
		padding-top: 65px;
		width: 375px !important;
		padding-left: 1px;
	}
}
