
.main-layout {
  scroll-behavior: smooth;
  overflow-y: auto;
  height: 100vh;
}

.continuous-scroll {
  scroll-snap-type: y mandatory;
}

.section-group {
  display: flex;
  flex-direction: column;
}

.section {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  scroll-snap-align: start;
  margin: 0;
  padding: 0;
}

/* #home { 
  background: var(--gradient-1);
  color: var(--primary-dark);
}

#about { 
  background: var(--primary-light);
  color: var(--primary-dark);
}

#portfolio { 
  background: var(--gradient-2);
  color: var(--primary-dark);
}

#contact { 
  background: var(--primary-dark);
  color: var(--primary-light);
} */

#intro { padding-top: 80px; }
